.friends {
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
    /* margin-right: 5em;  */
    padding: 1em;
    background: rgb(238, 238, 238 );
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    /* align-items: flex-end; */
}

.friendsList {
    /* background-color: #1d623c;
    opacity: 80%; */
    color: #1d623c;
}

.friend--card {
    background-color: #eee;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: initial;
    /* min-width: 15em; */
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

}

.friend--name {
    background-color: #1d623c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #eee;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
    margin-block-start: 0 !important;
}